.table{
    text-align:center;
}
.t3{
    background-color:aquamarine;
}
.rose{
    background-color:chartreuse;
}
.rose1{
    background-color:gold;
}
.rose2{
    background-color:rgb(225, 60, 60);
}
.rose3{
    background-color:cadetblue;
}
.rose4{
    background-color:darkseagreen;
}
.rose5{
    background-color:rgb(128, 96, 33);
}
.rose6{
    background-color:deeppink;
}
.rose7{
    background-color:darkturquoise;
}
.rose8{
    background-color:peru;
}